<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubaya.matrikulasialpro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatrikulasiAlpro">
        <activity
            android:name=".QuestionMainanBaruPart2Actvity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionUlanganAndPromosiActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionMobilPengangkutBarangActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionKatakAndRobotActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionLabirinActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionPesanLampuActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionVideoActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".QuestionMultiChoiceActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ExpertDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".StandartDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".BeginnerDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".IntroductionDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>